#header{
  position: fixed;
  height: 30px;
  background-color: beige;
  border-bottom: 1px solid #ddd;
}

.logout_button{
  position: absolute;
  right: 20px;
}

#map-canvas
{
  margin: 0 auto;
  height: 500px;
  width: 900px;
}
